@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.post-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  width: 300px;
  border-radius: 3px;
}

.top-text{
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.pfp img{
  height: 60px;
  border-radius: 50%;
}
.top-text h1,
.top-text h2{
  font-size: 15px;
}

.top-text h2{
  color: #5B7083;
}

.main-container {
  display: flex;
}