@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.nav {
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav h1 {
  margin-bottom: 20px;
}

.nav-inner-content {
  margin-top: 10px;
}

.nav-inner-content img {
  margin-bottom: 15px;
}

.nav-top-bar {
  margin-left: 30px;
  margin-bottom: 10px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.nav-item img {
  height: 20px;
  margin-top: 4px;
}

.nav-item li {
  list-style-type: none;
}

.nav-item a {
  text-decoration: none !important;
  font-size: 19px;
  font-weight: 400;
  color: black;
  transition: 0.2s;
}

.nav-item a:hover {
  color: rgb(0, 136, 255);
}

.nav-btn button{
  width: 200px;
  border-radius: 50px;
  margin-left: 10%;
}

.nav-bottom-bar {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: auto;
}

.nav-bottom-bar-text {
  display: flex;
  flex-direction: column;
}

.nav-bottom-bar img {
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-bottom-bar img:nth-last-child(1) {
  margin-left: 20px;
}

.nav-bottom-bar-text h1:nth-child(1) {
  margin-top: 10px;
}

.nav-bottom-bar-text h1:nth-child(2) {
  color: #5B7083;
}

.nav-bottom-bar-text h1 {
  line-height: 0;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 500;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.home-container {
  width: 100%;
}

.home-hero-content {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}

.home-hero-content h1 {
  font-size: 19px;
  font-weight: 400;
}

.home-hero-content img {
  margin-left: auto;
}

.post-content {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin: auto;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
}

.top-text {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.pfp img {
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.top-text h1,
.top-text h2 {
  font-size: 15px;
  cursor: pointer;
}

.top-text h2 {
  color: #5B7083;
  font-weight: 500;
}

.icon-row {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 10px;
}

.icon-row img {
  cursor: pointer;
}

.icon-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.icon-item p {
  color: #5B7083;
  font-size: 13px;
  margin-top: 20px;
}

.right-side-bar-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.search-bar input {
  background-image: url(./assets/icons/search.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-color: #EBEEF0;
  border: none;
  padding: 10px;
  width: 280px;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.search-bar input::placeholder {
  padding-left: 15px;
}

.search-bar input:focus {
  outline: solid 1px rgb(0, 110, 255);
  background-image: none;
}

.right-side-bar {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  gap: 15px;
}

.news-content {
  display: flex;
  flex-direction: column;
  background-color: #f7f9fb;
  border-radius: 5px;
  padding: 10px;
}

.news-content h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.article-content {
  display: flex;
  flex-direction: column;
}

.article-inner-content {
  display: flex;
  flex-direction: row;
}

.article-inner-bar p {
  font-size: 15px;
  font-weight: bold;
  max-width: 200px;
}

.article-top-bar {
  display: flex;
  flex-direction: row;
}

.article-top-bar h1,
.article-bottom-bar h1 {
  font-size: 14px;
  color: #5B7083;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}

.article-img {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

.article-img img {
  height: 50px;
  border-radius: 15px;
}

.follow-suggest-container {
  background-color: #f7f9fb;
  padding: 10px;
  border-radius: 5px;
}

.follow-suggest-container h1 {
  font-size: 20px;
  font-weight: 500;
}

.follow-suggest-inner-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.follow-suggest-inner-content hr {
  border-color: #f7f9fb;
}

.person-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.person-pfp img {
  height: 36px;
  border-radius: 50%;
  margin-top: 5px;
  cursor: pointer;
}

.person-text {
  display: flex;
  flex-direction: column;
}

.person-text h1 {
  font-size: 16px;
  font-weight: 400;
}

.person-text h1:nth-child(2) {
  color: #5B7083;
}

.follow-btn{
  margin-left: auto;
}

.follow-btn button{
  border-radius: 50px;
}

.follow-suggest-bottom-bar a {
  font-size: 15px;
  color: #1DA1F2 !important;
  cursor: pointer;
}

.main-container {
  display: flex;
  gap: 10px;
}